<h1 class="text-center text-2xl my-5">Add your game</h1>

<form
  [formGroup]="this.gameService.form"
  (ngSubmit)="onSubmit()"
  class="flex flex-col py-5 px-3 w-3/4 m-auto bg-slate-300"
>
  <label for="name" class="text-lg mt-2"> Game name : </label>
  <input
    type="text"
    placeholder="Nom du jeu"
    formControlName="name"
    class="border-2 border-gray-400 p-2"
  />
  <label for="img_url" class="text-lg mt-2"> URL image: </label>
  <input
    type="text"
    placeholder="Image du jeu"
    formControlName="img_url"
    class="border-2 border-gray-400 p-2"
  />
  <label for="img_url" class="text-lg mt-2"> Game descritpion: </label>
  <textarea
    placeholder="Description du jeu"
    formControlName="description"
    class="h-36 border-2 border-gray-400 p-2"
  ></textarea>

  <button
    class="bg-green-500 px-3 py-1 rounded-lg mt-5 w-2/3 lg:w-1/3 self-center"
    type="submit"
  >
    Validate
  </button>

  <ng-template [ngIf]="showSubmitMessage">
    <div class="text-xl m-auto">Le jeu a été ajouter avec succès !</div>
  </ng-template>
</form>
