<div class="flex flex-col items-center mt-5">
  <button type="button" class="bg-green-500 px-3 py-1 rounded-lg">
    <a [routerLink]="['/addGame']"> Add your game </a>
  </button>
  <div *ngIf="games" class="flex flex-wrap place-content-center w-full mt-5">
    <div *ngIf="games">
      <div
        class="w-48 text-center m-5 bg-slate-400 p-4"
        *ngFor="let game of games"
      >
        <h2 class="text-2xl mb-2">{{ game.name }}</h2>
        <img [src]="game.img_url" class="w-32 h-32 m-auto mb-2 object-cover" />
        <button type="button" class="bg-sky-500 p-2 w-3/6 rounded-lg">
          <a [routerLink]="['/games', game.id]"> </a>
          Détails
        </button>
      </div>
    </div>
  </div>
</div>
