<!---------------- Main page  ---------------->
<!-- add game button -->
<div class="flex flex-col items-center mt-5">
  <!-- games list -->
  <div
    *ngIf="games"
    class="place-content-center sm:flex sm:flex-wrap w-full mt-5"
  >
    <!-- games cards -->
    <div
      class="w-11/12 sm:w-4/12 text-center m-auto my-3 sm:m-5 bg-slate-200 px-4 py-2 border-gray-800 shadow hover:shadow-xl hover:scale-105 transition duration-700"
      *ngFor="let game of games"
    >
      <h2 class="text-2xl font-medium font-mont_sans text-blue-700 mb-2">
        {{ game.name
        }}<span
          class="{{
            showUnderscore
              ? 'opacity-0 duration-500 transition '
              : ' transition duration-500'
          }}"
          >_</span
        >
      </h2>
      <img [src]="game.img_url" class="w-32 h-32 m-auto mb-2 object-cover" />
      <div class="flex">
        <button
          type="button"
          class="bg-slate-50 hover:bg-blue-700 hover:text-white text-blue-700 border-b-2 border-b-blue-700 transition duration-700 px-3 py-1 w-3/6 font-medium rounded-md m-2 font-mont_sans"
        >
          <a [routerLink]="['/games', game.id]"> Details </a>
        </button>
        <button
          type="button"
          class="bg-slate-50 hover:bg-green-700 hover:text-white text-green-700 border-b-2 border-b-green-700 transition duration-700 px-3 py-1 w-3/6 font-medium rounded-md m-2 font-mont_sans"
        >
          <a [routerLink]="['/update', game.id]"> update</a>
        </button>
        <button
          type="button"
          (click)="deleteGame(game)"
          class="bg-slate-50 hover:bg-red-700 hover:text-white text-red-700 border-b-2 border-b-red-700 transition duration-700 px-3 py-1 w-3/6 font-medium rounded-md m-2 font-mont_sans"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
