<!---------------- Main page  ---------------->
<!-- add game button -->
<div class="flex flex-col items-center mt-5">
  <button
    type="button"
    class="bg-green-200 hover:bg-green-600 hover:text-white border-b-2 border-green-400 transition duration-700 ease-in-out font-semibold px-3 py-1 rounded-lg"
  >
    <a [routerLink]="['/addGame']"> Add your game </a>
  </button>

  <!-- games list -->
  <div
    *ngIf="games"
    class="place-content-center sm:flex sm:flex-wrap w-full mt-5"
  >
    <!-- games cards -->
    <div
      class="w-11/12 sm:w-4/12 text-center m-auto my-3 sm:m-5 bg-gray-700 px-4 py-2 border-2 border-gray-800 shadow-lg hover:scale-105 transition duration-700"
      *ngFor="let game of games"
    >
      <h2 class="text-2xl font-medium text-white mb-2">{{ game.name }}</h2>
      <img [src]="game.img_url" class="w-32 h-32 m-auto mb-2 object-cover" />
      <div class="flex">
        <button
          type="button"
          class="bg-sky-400 hover:bg-sky-600 hover:text-white transition duration-700 px-3 py-1 w-3/6 font-medium rounded-lg m-2"
        >
          <a [routerLink]="['/games', game.id]"> Details </a>
        </button>
        <button
          type="button"
          class="bg-sky-400 hover:bg-sky-600 hover:text-white transition duration-700 px-3 py-1 w-3/6 font-medium rounded-lg m-2"
        >
          <a [routerLink]="['/update', game.id]"> update</a>
        </button>
        <button
          type="button"
          (click)="deleteGame(game)"
          class="bg-red-300 hover:bg-red-500 hover:text-white transition duration-700 ease-in-out font-medium px-1 py-2 w-3/6 rounded-lg m-2"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
